@charset "UTF-8";

body{
	margin: 0px;
	padding: 0px;
	border-style: none;
}

#mainbody{
	margin: 10px;
}

table{
	border-collapse: collapse;
}

#inputTable input, textarea, button, select{
	width : 100%;
	box-sizing: border-box;
}

#search-date-from-table{
	width : 100%;
	box-sizing: border-box;
}

#search-date-to-table{
	width : 100%;
	box-sizing: border-box;
}

#overlay{
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height:100%;
	display: none;
	background: rgba(0,0,0,0.6);
}
.cv-spinner {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;  
}
.spinner {
	width: 40px;
	height: 40px;
	border: 4px #ddd solid;
	border-top: 4px #2e93e6 solid;
	border-radius: 50%;
	animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
100% { 
	transform: rotate(360deg); 
}
}
.is-hide{
	display:none;
}

#expenses input[type=checkbox] {
	transform: scale(2.0);
	margin: 10px;
}

#expenses td {
	padding: 5px;
	border: solid #000000 1px;
	white-space: nowrap;
}

#expenses th {
	background-color: #e0e0e0;
	font-weight: bold;
	padding: 5px;
	border: solid #000000 1px;
	white-space: nowrap;
}
#expenses span{
    display: none;
}
#pricesum td {
	padding: 5px;
	border: solid #000000 1px;
	white-space: nowrap;
}
#pricesum th {
	background-color: #e0e0e0;
	font-weight: bold;
	padding: 5px;
	border: solid #000000 1px;
	white-space: nowrap;
}
	#pricesum {
	    width: 100%;
	    border-collapse : collapse;
	}
	
@media screen and (max-width: 640px) {
	#maintables {
	    width: 100%;
	    border-collapse : collapse;
	}
	#expenses {
	    width: 100%;
	    border-collapse : collapse;
	}
	#pricesum {
	    width: 100%;
	    border-collapse : collapse;
	}
	#expenses th{
	    display: none;
	}
	
	#expenses td{
		display: block;
		border:none;
		background: #EEEEEE;
	}
	
	#expenses tr{
		display: block;
		padding :25px;
	}

	#expenses span{
		display:initial;
	    font-weight: bold;
	}
}